body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%; /* Adjust the width as needed */
}

h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

input[type="text"] {
    padding: 12px;
    margin-bottom: 20px;
    width: 100%; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 12px 24px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#searchResults {
    margin-top: 30px;
    text-align: left;
    font-size: 1.1rem;
}

/* Combo box styles */
.combo-box {
    position: relative;
    display: inline-block;
    width: 100%;
}

.search-input {
    padding: 12px 60px 12px 12px; /* Adjust as needed */
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.options-dropdown {
    position: absolute;
    top: 100%; /* Position dropdown below input */
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px; /* Rounded bottom corners */
    z-index: 1; /* Ensure the dropdown is above other content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Initially hidden */
    max-height: 200px; /* Adjust as needed */
    overflow-y: auto;
}

.option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #f2f2f2;
}
